GITHUB_REPO_URL=https://github.com/MarkSkinner92/ISS300-simulator-manifest
REPO_FS_LOCATION=/home/pi/ISS300-simulator/production-manifest
YAML_NAME=production.yaml # This should be found within your REPO_FS_LOCATION

DEV_YAML_PATH=/home/pi/ISS300-simulator/docker-compose.yaml
# Remote control information (for a socket.io client)
# Will also serve a simple http server for a mini html control panel
HOST=0.0.0.0
PORT=8080
REDIS_URL=redis://127.0.0.1:6379