GITHUB_REPO_URL=https://github.com/MarkSkinner92/ISS300-simulator-manifest
REPO_FS_LOCATION=/home/pi/production-manifest
YAML_NAME=production.yaml # This should be found within your REPO_FS_LOCATION

# Remote control information (for a socket.io client)
# Will also serve a simple http server for a mini html control panel
HOST=0.0.0.0
PORT=8080